
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/
img{
    max-width: 100%;
}
.contenedor{
    width: 80%;
    margin: 0 auto;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}

/*Utilidades*/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
    margin-left:30px;
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display:block!important;
}
.contenido-centrado{
    max-width: 800px;
}

/*Botones*/
.boton{
    color:#ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}
@media (min-width: 768px){
    .boton{
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton:hover{
    cursor:pointer;
}
.boton-amarillo{
    background-color: #E08709;
}
.boton-verde{
    background-color: #71B100;
}

/*Header*/
.site-headerc{
    background-color: #dacaca;
    padding: 1rem 0 3rem 0;
}
.site-headera{
    background-color: #dacaca;
    padding: 1rem 0 3rem 0;
}
.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio{
    background-image:url(../img/recorte.jpg);
    background-position: center center;
    background-size: cover;
    height: 60vh;
    min-height: 60rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
}
@media (min-width: 768px){
    .contenido-header{
        text-align: left;
    }
    .barra .lezcano h1{
        color:rgb(68, 0, 255);
        margin-top: 20rem;
    }
}
.contenido-header h1{
    color:rgb(255, 9, 21);
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}
.barra{
    padding-top: 3rem;
}
.barra .lezcano h1{
    color:rgb(68, 0, 255);
   
}
@media (min-width: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/*Navegacion*/
.navegacion a{
    color:#673ab7;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    
  
}
@media (min-width: 768px){
    .navegacion a{
        display: inline-block;
        margin-right: 2rem;
        font-size: 2.2rem;
        margin-top: 15rem;
         
    }
    .navegacion a:last-of-type{
        margin:0;
    }
}
.navegacion a:hover{
    color:#00b1b1
}

/*Icono Nosotros*/

@media (min-width: 768px){
    .iconos-nosotros{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.icono{
    text-align: center;
}

@media (min-width: 768px){
    .icono{
        flex-basis: calc(33.3% - 1rem);
    }
}
.icono h3{
    text-transform: uppercase;
}
.icono img{
    zoom: 50%; 
}

/*Anuncios*/
@media (min-width: 768px){
    .contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
}

.anuncio{
    border: 1px solid #B5B5B5;
    background-color:#F5F5F5;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
.anuncioo{
    border: 1px solid #B5B5B5;
    background-color:#F5F5F5;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
@media (min-width: 768px){
    .anuncio{
        flex: 0 0 calc(33.35 - 1rem);
    }
}

@media (min-width: 768px){
    .anuncioo{
        flex: 0 0 30rem;
    }
}

.contenido-anuncio{
    padding: 2rem;
}
.contenido-anuncio h3, .contenido-anuncio p{
    margin: 0;
}


.precio{
    color:#71B100;
    font-weight: 700;
}
.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    flex:1;
}
.iconos-caracteristicas li{
    display: flex;
    margin-left:200px;
}
.iconos-caracteristicasg{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    flex:1;
}
.iconos-caracteristicasg li{
    display: flex;
    margin-left:2rem;
    align-items: center;
}
.imga{
    margin-left: 30rem;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

/*Contacto Home*/
.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.contenido-contacto{
    flex:0 0 95%;
    color:#ffffff;
}
.contenido-contacto p{
    font-size: 2rem;
}

/*Seccion Inferior*/
@media (min-width: 768px){
    .seccion-inferior{
    display: flex;
    justify-content: space-between;
    }
    .seccion-inferior .blog{
        flex-basis: 60%;
    }
    .seccion-inferior .opiniones{
        flex-basis: calc(40% - 2rem);
    }
}
.entrada-blog{
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .entrada-blog{
        display: flex;
        justify-content: space-between;
    }
}
.entrada-blog:last-of-type{
    margin-bottom: 0;
}
.entrada-blog .imagen{
    flex-basis: 40%;
}
.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
}
.texto-entrada a{
    color:#000000;
    text-decoration: none;
}
.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}
.texto-entrada h4::after{
    content: '';
    display:block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 1rem;
}
.texto-entrada span{
    color:#E08709;
}
/*Opiniones*/

.opiniones{
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color:#ffffff;
    border-radius: 2rem;
    margin-right: 3rem;
    
    
}
.opiniones p{
    text-align: right;
}
.opiniones blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left:-2rem;
}
.opiniones blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

.opiniones2{
    background-color: #0088b1;
    font-size: 2.4rem;
    padding: 2rem;
    color:#ffffff;
    border-radius: 2rem;
    margin-right: 3rem;
}
.opiniones2 p{
    text-align: right;
}
.opiniones2 blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 5rem;
    position: absolute;
    left:-2rem;
}
.opiniones2 blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

.opiniones3{
    background-color: #cdda25;
    font-size: 2.4rem;
    padding: 2rem;
    color:#ffffff;
    border-radius: 2rem;
    margin-right: 3rem;
}
.opiniones3 p{
    text-align: right;
}
.opiniones3 blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left:-2rem;
}
.opiniones3 blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}




/*Footer*/
.site-footer{
    background-color: #333333;
    margin:0;
    height: 2cm;
}
.contenedor-footer{
    margin-bottom: 50%;
    padding: 1rem 0;
    display:flex;
    justify-content: space-between;
}
.nuevo-contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto 0 auto;
}
@media (min-width: 768px){
    .navegacion-footer a{
        display: inline-block;
        margin-right: 2rem;
        font-size: 2.2rem;
        color: white;
        text-decoration: none;
    }
    .navegacion-footer a:cover{
        cursor: pointer;
    }
    .navegacion-footer a:hover{
        color:#1f8073;
    }
}

.copyright{
    margin:0;
    color:#ffffff
}

/*Style para paginas secundarias*/
/*Nosotros*/
.contenido-nosotros{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin:0;
    padding: 1rem 0 3rem 0;
}

/*Anuncio*/
.resumen-propiedad{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.parrafo-iconos{
    margin-left: 25px;
}

/*Contacto*/
.contacto p{
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend{
    font-size: 2rem;
    color: #4f4f4f;
}
label{
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea,
select{
    padding:1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    border:none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;

}
select{
    -webkit-appearance: none;
    appearance: none;
}
textarea{
    height: 20rem;
}
.forma-contacto{
    max-width: 30rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.form-consulta {max-width: 500px; background: #eee; padding: 25px; font-family: 'Source Sans Pro', sans-serif;}
.campo-form {width:100%; height:36px; margin:2px 0 6px; padding-left:6px; box-sizing: border-box; border-radius:3px; border:0; font-family: 'Source Sans Pro', sans-serif; font-size:1em;}
label span {color: #f00}
textarea {min-height: 150px!important;}
.btn-form {display: inline-block; border:0; background: #000; height: 46px; line-height: 46px; padding: 0 20px; border-radius: 6px; color:#fff; text-decoration: none; text-transform: uppercase; letter-spacing: 1px}
.btn-form:hover {background: #444}


